*
*~

!*/
!README.md
!.gitignore

!alacritty/**
!bash/**
!flameshot/**
!gtk-3.0/**
!gtk-2.0/**
!i3/**
!i3status/**
!lf/**
!local/**
!mpv/**
!npm/**
!nvim/**
!rofi/**
!redshift/**
!tridactyl/**
!x11/**
