*
*~

!*/
!README.md
!.gitignore

!bash/**
!fish/**
!flameshot/**
!gtk-3.0/**
!gtk-2.0/**
!i3/**
!i3status/**
!kitty/**
!lf/**
!local/**
!newsboat/**
!mpv/**
!mpd/**
!ncmpcpp/**
!npm/**
!nvim/**
!picom/**
!redshift/**
!tridactyl/**
!x11/**
