*
*~

!*/
!README.md
!.gitignore

!local/**
!gtk-3.0/**
!gtk-2.0/**
!nvim/**
!conky/**
!lf/**
!mpd/**
!ncmpcpp/**
!mpv/**
!i3/**
!polybar/**
!sxhkd/**
!dunst/**
!fontconfig/**
!flameshot/**
!x11/**
!zsh/**
!shell/**
