.xfce4-panel {
    color: white;
    background: transparent;
    background-image: linear-gradient(to bottom,
    #252525,
    #858585,
    #6f6f6f,
    #6c6c6c,
    #6a6a6a,
    #6a6a6a,
    #656565,
    #656565,
    #636363,
    #606060,
    #5e5e5e,
    #5e5e5e,
    #5b5b5b,
    #565656,
    #545454,
    #3d3d3d,
    #3d3d3d,
    #3b3b3b,
    #383838,
    #363636,
    #363636,
    #343434,
    #323232,
    #303030,
    #2e2e2e,
    #2d2d2d,
    #2b2b2b,
    #292929,
    #292929,
    #1b1b1b);
}
