@import "colors.css";
@define-color accent_color @Blue5;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: sans;
    font-size: 9pt;
}

/* Secondary output */
window#waybar.secondary-output {
    background: transparent;
    color: @Light1;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Primary output */
window#waybar {
    background-color: @Dark4; 
    color: @Light1;
    transition-property: background-color;
    transition-duration: .5s;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    /* margin: 1px 1px; */
    /* background-color: transparent; */
    color: @Light1;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @Green1;
    color: @Dark4;
    /* box-shadow: inset 0 -3px @Light1; */
}

#workspaces button.focused {
    background-color: @Green5;
    /* box-shadow: inset 0 -3px @Light1; */
}

#workspaces button.urgent {
    background-color: @Red3;
}

#mode {
    padding: 0 10px;
    margin: 4px;
    color: @Dark4;
    background-color: @Yellow4;
    border-radius: 0px;
}

#clock,
#cpu,
#memory,
#pulseaudio {
    padding: 0 10px;
    color: @Light1;
    background-color: transparent;
}

#pulseaudio.muted {
    background-color: @Red2;
    color: @Dark5;
}

/* #custom-split-indicator { */
/*     padding: 0 10px; */
/*     margin: 5px; */
/*     color: @Light1; */
/*     background-color: @Blue5; */
/*     border-radius: 3px 10px; */
/* } */
