window {
  font-family: Geist;
  border-radius: 1em;
  background-color: #282828;
}

#input {
  margin-top: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  color: #FAFAFA;
  border: 1px solid #212121;
  border-radius: 0.5em;
  background: #464646;
}

/* #input:focus { */
/*   border: 1px solid #212121; */
/* } */
/**/
/* #input:active { */
/*   border: 1px solid red; */
/* } */

#inner-box {
  margin-left: 0.75em;
  margin-right: 0.75em;
  background-color: transparent;
}

#scroll {
  margin: 0.75em;
  border-radius: 1em;
  background-color: transparent;
}

#text {
  color: #FAFAFA;
}

#entry{
  border: 1px solid transparent;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#entry:selected{
  border-radius: 0.75em;
  border: 1px solid transparent;
  background: rgba(238, 238, 238, 0.35);
}
